/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
  }
  
  .navbar-logo a {
    color: transparent;
    text-shadow: 2px 4px 3px black;
    font-size: 32px;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-links a {
    color: transparent;
    text-shadow: 2px 4px 3px black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .burger-menu {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
  }
  
  .burger-menu .line {
    height: 3px;
    width: 100%;
    color: transparent;
    box-shadow: 4px 4px 3px black;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: row;
      width: 100%;
      text-align: center;
    }
  
    .navbar-links.active {
      display: flex;
      background-color: transparent;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 5px 0;
    }
  
    .burger-menu {
      display: flex;
    }
  
    .navbar-links a {
      padding: 3px;
    }
  }